html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    margin:0;
    background: #7f7f80;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #a7b3b3;
}

header:after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}
img {
    width: 40px;
    height: 70px;
}

nav {
    float: right;
}

nav ul {

    margin: 0;
    padding: 10px;
    list-style: none;
}

nav li {

    display: inline-block;
    margin-left: 70px;
    padding=top: 25px;
    position: relative;
}

nav ul li a {

    text-decoration: none;
    color: #e9f3ff;
    
}

nav a:hover {
    color: rgb(105, 105, 92)
}

nav a:before {

    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #62ad62;
    position: absolute;
    bottom: 20px;
    transition: all ease-in-out 200ms;
}

nav a:hover:before {

    width: 100%;
}